name: Build

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: macos-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Build
      run: xcodebuild build -project InputFloat.xcodeproj -scheme InputFloat -destination 'platform=macOS' CODE_SIGN_IDENTITY="" CODE_SIGNING_REQUIRED=NO CONFIGURATION_BUILD_DIR=build

    - name: Upload Artifact
      uses: actions/upload-artifact@v4
      with:
        name: InputFloat-App
        path: build/InputFloat.app
